.fondo{
    background-color: #004990;
    opacity: .7;
    padding:15px 15px 15px 15px;
}
#tit{
    text-align: center;
    padding-bottom: 10px;
}
.logo-lcc{
    width: 30%;
    height: auto;
    display: block;
    margin-left: auto;
}

.logo-unison{
    width: 30%;
    height: auto;
    display: block;
    margin-right: auto;
}

.hdr{
    width: 100vw;
    height: 10vh;
    background-color: #ffffff;
    padding: 10px 50px 10px 50px;
    float: top;
}

.carousel-inner{
    height: 90vh;
}

.carousel-item {
    margin-bottom: 5vh;
    height: 100vh;
    width:  100vw;
}
